<div data-controller="modal">
  <div class="games-top d-flex justify-content-between my-3">
    <h1>My games</h1>
    <%=link_to "Add a new game", new_game_path, data: {action: "click->modal#open:prevent"}, class: "btn btn-primary d-flex align-items-center"%>
  </div>
  <%# <%@games.each do |game|%>
    <%# <ul> %>
      <%# <li> %>
        <%# <%=link_to game do%>
          <%# <%=game.title%>
        <%# <%end %>
      <%# </li> %>
    <%# </ul> %>
  <%# <%end %>

<%= turbo_frame_tag "modal" do %>
  <div class="modal" data-modal-target="gameform" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new game...</h5>
          <button type="button" class="btn-close" data-action="click->modal#close:prevent" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= turbo_frame_tag "new_game" do %>
            <%= render "games/form", game: @game %>
          <%end%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="click->modal#close:prevent">Close</button>
        </div>
      </div>
    </div>
  </div>
<%end%>

<%= turbo_frame_tag "games" do %>
  <div class="game-container" id="game-list-container">
    <%@games.each do |game|%>
      <%=render "games/game", game: game%>
    <%end%>
  </div>
<%end%>
