<div data-controller="modal">
  <div class="games-top d-flex justify-content-between my-3">
    <h1>My games</h1>
    <%=link_to "Add a new game", new_game_path, data: {action: "click->modal#open:prevent"}, class: "btn btn-primary d-flex align-items-center"%>
  </div>
  <%# <%@games.each do |game|%>
    <%# <ul> %>
      <%# <li> %>
        <%# <%=link_to game do%>
          <%# <%=game.title%>
        <%# <%end %>
      <%# </li> %>
    <%# </ul> %>
  <%# <%end %>


  <div class="modal" data-modal-target="gameform" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1>Add a new game...</h1>
          <%=simple_form_for @game do |f|%>
            <%=f.input :title%>
            <%=f.input :platform %>
            <%=f.input :status, collection: Game.statuses.keys %>
            <%=f.submit "Add game..."%>
          <%end%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
 </div>

<div class="game-container">
  <%@games.each do |game|%>
    <div class="game-card mb-3">
      <%= image_tag "placeholder", alt: "Le Wagon", class:"game-img" %>
      <div class="card-body">
        <h5><%=game.title%></h5>
        <p><%=game.platform%></p>
        <p><%=game.status%></p>
      </div>
      <div class="card-footer">
        <%=link_to "Check this game", game_path(game), class: "btn btn-primary"%>
      </div>
    </div>
  <%end%>
</div>
